* {
    margin:0; padding:0;
}

body {
	margin-top: 20px;
	text-align:center;
	background-color: #fff;
}

#container {
    width: 800px;
    margin: 0 auto;
    font-family: "adelle-1","adelle-2",serif;
    text-align: left;
    background-color: #fff;
}
    
h1 {
	font-family: "jesaya-1","jesaya-2",sans-serif;
	font-size: 36px;
	padding: 0 0 18px 0;
    text-shadow: 2px 2px 1px #ccc, 2px 2px 1px #fff;
}

.map {
    float:left;
    width: 	500px;
    height: 375px;
    padding: 0 20px 20px 0;
}

p {
    margin-bottom: 1em;
    font-size: 0.85em;
    font-weight: 400;
    line-height: 1.25;
}

img.right {
    float: right;
    padding: 5px;
}

table {
	margin-bottom: 15px;
	border: 1px solid gray;
}

th, td {
	border: 1px solid gray;
	padding:5px;
}

ul {
    list-style-type: square;
    padding: 0 90px;
}

ul li {
   font-size: 0.85em;
   line-height: 1.3;
   padding-bottom: 8px; 
}

.byline {
    padding-top: -20px;
    float: right;
    font-size: 12px;
    font-style: italic;
}

.button {
    background:#FFFFFF;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#EEE));
    background:-moz-linear-gradient(0% 90% 90deg, #EEE, #FFF);
        -moz-border-radius: 15px;
    border-radius: 10px;
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 12px;
}

.email {
    padding: 5px 2px 5px 35px;
    margin-bottom:5px;
    background: url('/images/email-icon.png') 10px center no-repeat;
}

.clear {
    clear: both;
}

#footer {
    font-size: 11px;
    color: #777;
    padding-top: 20px;
}

#footer a {
    color: #555;
    text-decoration: none;
}

.img {
	float: left;
	padding-right: 8px;
	border: none;
}

#archives {
    color: #999;
    font-family: "adelle-1","adelle-2",serif;
    padding: 20px 0 50px;
}

#archives ul li {
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px 10px;
    background:#AD5A00;
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#AD5A00), to(#703A00));
    background:-moz-linear-gradient(0% 90% 90deg, #703A00, #AD5A00);
        -moz-border-radius: 5px;
    border-radius: 5px;
}

#archives li a {
    color: #bbb;
    text-decoration: none;
}